html,
body {
  font-family: "Segoe UI", Arial, sans-serif;
}

.formRow {
  padding: 10px 10px;
}

.labelInput {
  font-size: 1.3em;
}

.hexInputWrapper {
  position: relative;
  display: inline-block;
  width: 70%;
}

.hexInput {
  width: 100%;
  height: 36px;
  padding: 5px 10px 5px 10px;
}

.colorDisplay {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: red;
}
